@use './reset.scss';
@use './fonts.scss';

$font-size-html: calc(1vw / 14.4);

html {
  font-size: $font-size-html;
}

body {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 400;
  font-size: 16rem;
}

